.app {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  height: 100vh;
}

.main_title {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;
  margin-right: 20rem;
  font-size: 5rem;
  color: #ff9966;
}