.partner_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em 0.5em 0.6em 1em;
  margin: 0.5em 0.5em;
  font-size: 1.5em;
  outline: solid rgb(209, 209, 209, 0.8) 1px;
}

.back {
  display: inherit;
  flex-direction: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.back_logo {
  width: 1.2em;
  height: 1.2em;
  padding: 0.5em;
  border-radius: 2em;
  background-color: transparent;
  transition: linear;
  transition-property: background-color;
  transition-duration: 200ms;
}

.back_logo:hover {
  background-color: rgb(209, 209, 209, 0.8);
  transition: linear;
  transition-property: background-color;
  transition-duration: 200ms;
}

.messages_container {
  display: flex;
  overflow-y: auto;
  flex: 1;
}

.messages{
  display: flex;
  flex: 1;
  flex-direction: column;
  height: fit-content;
}

.sent_messages{
  flex-shrink: 0;
  margin: 0.2em;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: flex-end; */
}

.received_messages{
  flex-shrink: 0;
  margin: 0.2em 0.5em;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.received{
  background-color: gray;
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    height: 85vh;
    display: flex;
    flex-direction: column;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
