.content_header{
  display: flex;
  flex-direction: row;
  width: 80%;
}

.active{
  background-color: rgb(209, 209, 209, 0.8);
}

.content_action{
  width: 50%;
  outline: solid rgb(209, 209, 209, 0.8) 1px; 
}

.posts{
  border-radius: 1em 0 0 0;
}

.likes{
  border-radius: 0 1em 0 0;
}