.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

h1 {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;
  margin-right: 20rem;
  font-size: 5rem;
  color: #ff9966;
}