body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  font-family: inherit;
}

.clean_navlink, .clean_navlink:focus, .clean_navlink:hover, .clean_navlink:visited, .clean_navlink:link, .clean_navlink:active{
  text-decoration: none;
  color: black;
}