.message_body{
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0 0.5rem;
  margin: 0.3rem 0;
  background-color: rgb(3, 123, 252);
  color: white;
  border-radius: 1.2rem;
}