.bar{
  text-align: center;
  margin: 1em 1em;
  padding: 0.4em 0.4em;
  height: 1.5rem;
  width: 80%;
  border: solid rgb(209, 209, 209, 0.8) 1px;
  border-radius: 1em;
  font-size: 1em;
}

.bar:focus{
  outline: none;
}

.bar:focus::placeholder {
  color: transparent;
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px){

}

/* Desktop */
@media only screen and (min-width: 768px){

}